.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 1200px;

  @media (max-width: 500px) {
    padding: 25px;
  }
}
.contentBackground {
  background: url("/img/heroBLur.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 2200px;
  display: flex;
  justify-content: center;

  @media (max-width: 500px) {
    background: none;
  }
}

.contentWrapper {
  margin-top: 140px;
  max-width: 945px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media (max-width: 500px) {
    margin-top: 25px;
  }
}

.opacity {
  opacity: 0.2;
}
.title {
  margin-bottom: 40px;
  align-self: flex-start;
}

.subtitle {
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}

.label {
  margin-bottom: 24px;
  font-size: 24px;
}

.input {
  margin-bottom: 32px;
  padding: 16px 24px 16px 24px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  border: none;
  max-width: 510px;

  &:focus {
    outline: none !important;
  }
}

.confirmDiv {
  margin-bottom: 60px;
}

.labelConfirm {
  font-size: 16px;
  margin-left: 16px;
}

.submitInput {
  color: #5dffc5;
  border: solid 1px #5dffc5;
  background: rgba(255, 255, 255, 0.1);
  width: 145px;
  height: 50px;
  border-radius: 32px;
  cursor: pointer;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 460px;
  top: 300px;
  border-radius: 12px;
  background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(
      109.46deg,
      rgba(106, 113, 151, 0.5082) 1.57%,
      rgba(128, 137, 183, 0.528) 100%
    );
}

.modalCloseButton {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin: 16px;
  cursor: pointer;
}

.modalTick {
  width: 120px;
  height: 120px;
  margin-bottom: 54px;
}

.modalTitle {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.modalMessage {
  font-size: 16px;
  max-width: 365px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5dffc5;
  border: solid 1px #5dffc5;
  background: rgba(255, 255, 255, 0.1);
  width: 230px;
  height: 50px;
  border-radius: 32px;
  cursor: pointer;
}
