.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentBackground {
  background: url("/img/heroBLur.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 2200px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
