.container {
  display: flex;
  width: 100%;
  max-width: 1320px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}
.categoriesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  width: 302px;
  height: 320px;
  background: #2f3652;
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
}
.categoriesWrapper img {
  width: 278px;
  height: 254px;
  border-radius: 6px;
  cursor: pointer;
}

/*.container {
  height: 2300px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.contentBack {
  background: url("/img/heroBLur.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 2200px;
  transform: rotate(60deg);

  @media (max-width: 500px) {
    background: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  transform: rotate(-60deg);
  align-items: center;
  z-index: 10;
}

.worm {
  position: absolute;
  right: 0;
  top: 400px;
  z-index: 2;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

.categoriesWrapper {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  min-width: 900px;
}

.categoryWrapper {
  display: flex;
}
.categoryName {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-left: 90px;

  &:hover {
    color: rgba(255, 138, 0, 1);
    font-size: 32px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.tasksWrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  height: 160px;

  .taskName {
    font-weight: 500;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.categoryLink {
  display: flex;
  padding: 16px 32px;
  border: solid 1px #5dffc5;
  width: 250px;
  background-color: transparent;
  color: #5dffc5;
  cursor: pointer;
  border-radius: 32px;
  margin-top: 100px;
}*/
