.container {
  position: relative;
  display: flex;
  justify-content: center;
}
.contentBackground {
  background: url("/img/heroBLur.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 2200px;
  display: flex;
  justify-content: center;

  @media (max-width: 500px) {
    background: none;
  }
}

.contentWrapper {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media (max-width: 500px) {
    margin-top: 25px;
  }
}
.title {
  margin-bottom: 80px;
  align-self: flex-start;

  @media (max-width: 500px) {
    margin: 25px;
  }
}
