.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden;
  position: fixed;
}

/*
.modal {
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      
    linear-gradient(
      109.46deg,
      rgba(106, 113, 151, 0.5082) 1.57%,
      rgba(128, 137, 183, 0.528) 100%
    );
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18.4988px);

  border-radius: 16px;
  padding: 24px;
  z-index: 100;
  position: relative;
  display: flex;
}

.closeModal {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 24px;
  z-index: 2;
}
*/
