.container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1320px;
  height: 80px;
  padding: 15px 32px;
  margin: auto;

  @media (max-width: 500px) {
    flex-direction: column;

    margin: 0 auto;
  }
}

.logoWrapper {
  display: inline-block;
  cursor: pointer;
}
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoWrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  @media (max-width: 555px) {
    gap: 10px;
  }
}

.infoWrapper span a {
  display: inline-block;
  align-items: center;
  text-align: justify;
  width: 100%;
  min-height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.buttonWrapper {
  max-width: 210px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 16px 32px;
  gap: 10px;
  background: #ffd155;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16px;
  line-height: 100%;
  font-family: "Nunito Sans";
  font-style: normal;
  border: none;
  @media (max-width: 500px) {
    max-width: 160px;
    width: 100%;
  }
}
.walletWrapper {
  display: flex;
  margin: 0px 24px 0px 32px;
}
.profileNotificationsWrapper {
  display: flex;
}

.profileNotificationsWrapper span:first-child {
  margin-left: 10px;
}
.profileNotificationsWrapper span:last-child {
  margin-right: 16px;
}
.avatar {
  display: flex;
}
.logoDiv {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}
.logo {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 20px;
  height: 18px;
  @media (max-width: 500px) {
    width: 30px;
    height: 28px;
  }
}

.logoTitle {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 97px;
  height: 24px;
  @media (max-width: 500px) {
    width: 114px;
    height: 44px;
  }
}
.modalLinks {
  display: flex;
  gap: 3px;
}
.signinModal {
  top: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 530px;
  height: 515px;
  background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(
      109.46deg,
      rgba(106, 113, 151, 0.5082) 1.57%,
      rgba(128, 137, 183, 0.528) 100%
    );
  /* bg blur */

  box-shadow: 111px 125px 67px rgba(0, 0, 0, 0.01),
    63px 70px 57px rgba(0, 0, 0, 0.05), 28px 31px 42px rgba(0, 0, 0, 0.09),
    7px 8px 23px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.4988px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}

.hidden {
  display: none;
}
